*{
    box-sizing: border-box;
}
:root{
    --primary-color: 
    --secondary-color:
}
html{
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);

}
html.dark{
    --primary-color: white;
    --secondary-color: yellow;
}
html.dark{
    background-color: rgb(200, 231, 235);
    color: rgb(84, 163, 163);
}
body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0%;
}
.toggle{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius:4px; 
    padding: 8px 12px;
    position: absolute;
    top:100px;
}
.toggle:focus{
    outline: none;
}
.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clock{
    position: relative;
    width: 200px;
    height: 200px;
}
.needle{

}