/* =====CSS OF ALL TASKS GIVEN KOMAL MAM ===== */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #c5903a;
    color: #222;
    margin: 0;
    padding: 0;
}

/* ===== HEADER ===== */
header {
    background-color: lch(7.43% 60.02 306.36);
    color: rgb(243, 192, 126);
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 5px 0;
    font-size: 24px;
}

header h2 {
    margin: 5px 0;
    font-weight: normal;
    letter-spacing: 1px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* ===== SECTION ===== */
section {
    background: #f9dfb7;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(253, 141, 5, 0.87);
}

section h3 {
    background-color: lch(100% 0.01 296.81 / 0.955);
    text-align: center;
}

/* ===== IMAGE ===== */
img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

/* ===== TABLE ===== */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    background-color:   lch(17.52% 87.87 306.19 / 0.123);
    border: 3px solid #000000;
    padding: 8px;
    text-align: center;
}

th {
    background-color: lch(29.82% 119.68 306.1 / 0.855);
    color: white;
}

/* ===== FORM ===== */
form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

input[type="submit"] {
    margin-top: 15px;
    background-color: lch(7.43% 60.02 306.36);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
   background-color: lch(7.43% 60.02 306.36);
}

/* ===== FOOTER ===== */
footer {
    text-align: center;
    background-color: lch(7.43% 60.02 306.36);
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
