body {
            
            background: linear-gradient(90deg, rgb(248, 4, 4) 25%, rgb(255, 255, 255) 100%);
            color: white;
            text-align: center;
            justify-content: center;
            display: flex; 
        }

.clock{
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    letter-spacing: 6px;
    font-family: 'Times New Roman', Times, serif;
    
}

h1{
    justify-items: center;
    justify-content: center;
    text-align: center;
    font-size: 160px;
}
