/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
    
}

/* HEADER -NAV1 */

.header1 {
    background-color: #212934;   
    padding: 10px 0;
    color: #cfd6e1;
    font-size: 14px;
}

.nav-container1 {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CONTACT INFO */
.contact-info span {
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.phone-icon,
.Email-icon {
    width: 16px;
    filter: invert(1);     /* turn icons white */
}

/* SOCIAL ICONS */
.social-icons img {
    width: 16px;
    margin-left: 15px;
    cursor: pointer;
    filter: invert(1);        /* turn icons white */
}

.icon{
    width: 16px;
    margin-left: 15px;
    cursor: pointer;
}

.nav-container2{
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nac-links ul{
    display: flex;
}


